<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>NLP: Natural Language Processing</title>
   <link href="css/styles.css" rel="stylesheet" type="text/css"> 
   <link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono&display=swap" rel="stylesheet"> 
</head>
<body>
  <header>
    <div class = "flex-container">
    <div class="typewriter"><h1>Natural Language Processing</h1></div>
    </div>
    <hr class = "dash-style" />
  </header>
    <nav>
    <a id ="current" href="/">Home</a>
    <a href="about.html">What is NLP?</a>
    <a href="practical.html">Examples</a>
    <a href="learn.html">Learn More</a>
    <hr class = "dash-style" />
  </nav>
  <main>