<% include  partials/header.ejs %> <!--EJS tags -->
     <figure>
       <img src="img/nlp-what.jpg" alt="Image of a person made out of bits">
       <figcaption>Image credit: Thinkstock</figcaption>
     </figure>
          <div class="content">
            <h2 class="section-header">
            What is NLP?
            </h2>
            <p>
            Natural Language Processing (NLP) is an intersection of linguistics (the scientific study of human language)
              and computer science, particularly, computer science. Humans speak languages like Japanese or English;
              but that is not what computers natively understand. At the most fundamental level, computers
              communicate in binary. [<a href="https://learn.g2.com/natural-language-processing">source</a>]
            </p><p>
            NLP serves a bridging tool to allow computers and humans to communicate with one another,
            leveraging one or more human languages.
            </p>
            <br><br>
          </div>
  <% include  partials/footer.ejs %> <!--EJS tags -->