<% include  partials/header.ejs %> <!--EJS tags -->
     <figure>
       <img src="img/nlp-person.jpg" alt="Image of a person connecting to a computer">
     </figure>
          <div class="content">
            <h2 class="section-header">
              Welcome
            </h2>
            <p>
            Keep hearing about NLP and not sure what all the buzz is about?
            </p>
            <p>
            I've got you covered with easy to understand definitions, examples, 
            and applications of NLP! 
            </p>
            <p>
              Once you are comfortable, check out the <span class="highlight">Learn More</span> section for additional resources
              on applying NLP to your own projects.
            <br><br>
        
          </div>
 <% include  partials/footer.ejs %> <!--EJS tags -->