<% include  partials/header.ejs %> <!--EJS tags -->
     <figure>
       <img src="img/nltk.png" alt="NLTK logo">
       <figcaption>Image credit: <a href="https://ndimensionz.com/kb/theoretical-explanation-of-how-siri-works/">ndimensionz.com</a></figcaption>
     </figure>
    
          <div class="content">
           <h2 class="section-header">
            NLTK
            </h2>
            <p>
            <a href="https://www.nltk.org/">The Natural Language Toolkit (NLTK)</a> is a popular opensource platform for
              building Python programs for NLP. Libraries exist for both Python 2 and Python 3 with
              extensive libraries for word classification, sentence parsing, and more.
            </p>
            <h2 class="section-header">
              Stanford NLP Group</h2>
              <p>
                The Stanford NLP Group also provide opensource access to their <a href="https://nlp.stanford.edu/">
                CoreNLP API</a> for developing NLP applications in Java; the API has 
                similar capabilities to NLTK, and also includes a named entitiy recognizer.
              </p>
            
        
            <br><br>
            <br><br>
          </div>
 <% include  partials/footer.ejs %> <!--EJS tags -->