<% include  partials/header.ejs %> <!--EJS tags -->
     <figure>
       <img src="img/siri.png" alt="Diagram of how Siri leverages NLP">
       <figcaption>Image credit: <a href="https://blog.sicara.com/train-ner-model-with-nltk-stanford-tagger-english-french-german-6d90573a9486">sicara.com</a></figcaption>
     </figure>
  
          <div class="content">
                 <h2 class="section-header">
            Applications of NLP
            </h2>
            <p>
            Examples of NLP span both written and spoken forms of human language.
            </p><p>
            Voice assistants such as Apple's Siri or Amazon's Alexa detect acoustic units of speech
            called phonemes to map these sounds to words or text in order to respond to your request. 
            [<a href="https://www.sas.com/en_us/insights/analytics/what-is-natural-language-processing-nlp.html">source</a>]
            </p>
            Sentiment analysis of large amounts of text, called corpora, is used to detect the emotional
            charge of words and whole utterances. This can be used to predict the outcome of an election or
            the sales of a product [<a href="https://nlp.stanford.edu/sentiment/">source</a>].
            <br><br>
        
          </div>
  <% include  partials/footer.ejs %> <!--EJS tags -->